
body {
  background-color: #EAE7DC;
  color: black; /* text color */
  font-family: arial, sans-serif;
}

hr {
  background-color: #8E8D8A;
  height: 8px;
}

/* Change header text to imported font */
h1 {
  font-family: arial, sans-serif;
  color: #E85A4F;
}

/*table*/
form[type = well]{
  background-color: yellow;
}

table{
  border-style: solid;
  border-width: 1px;
  background-color: #D8C3A5;
}
th {
  font-style: inherit;
  color: #E85A4F;
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}
td {
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
}




